* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #548687;
    text-align: center;
    font-family: Arial, sans-serif;
}
.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.5cm;
    border: none;
    box-shadow: 0 0 1cm rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffcf;
    cursor: pointer;
}
#reset-btn, #new-btn {
    padding: 0.5cm;
    font-size: 0.5cm;
    background-color: #191913;
    color: #fff;
    border-radius: 0.5cm;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}
#msg {
    color: #ffffcf;
    font-size: 8vmin;
}
.msg-container {
    height: 30vmin;
}
.hide {
    display: none;
}
